<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Consultation Email</title>
</head>
<body>

<p> {{text}}</p>
<p>number: {{phoneNumber}}</p>
<p>How did he reach Beauti: {{funnel}}</p>
<p>Customer Type: {{firstTImeCustomer}}</p>
</body>
</html>
