<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Consultation Email</title>
</head>
<body>

  <h1>A Customer filled the form on Beauti website</h1>
  <p> {{text}}</p>
  <p>number: {{phoneNumber}}</p>
  <p>How did the customer reach Beauti: {{funnel}}</p>
  <p>Customer Type: {{customerStatus}}</p>


  <p>Thank you for booking a Consultation with Beauti Skin Clinic.</p>
  <p>One of our team members will aim to get back to you within 24 hours.</p>
  <p>If you do not hear from us, please contact the clinic on 020 7820 1177 and we will help you with your Consultation
    appointment inquiry.</p>
  <p>We are a top-rated boutique clinic based in Oval, South London, our address is:</p>

  <p>66A Brixton Road</p>
  <p>London, SW9 6BP</p>
  <p>Thank you very much for being interested in our clinic, we hope to see you soon!</p>

  Beauti Skin Clinic <br />
  <a href="http://www.beautiskinclinic.com">www.beautiskinclinic.com</a><br/>
  IG: <a href="https://www.instagram.com/beautiskinclinic/?hl=en">@beautiskinclinic</a><br/>
</body>
</html>
